<html>
    <head>
        <title>View Data</title>
        <link rel="stylesheet" href="../../public/tablestyle.css" />
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway"
    />
    </head>
    <body>
        <!-- Top Menu -->
        <main>
            <h3>Week 7 Activities</h3>
            {{{body}}}
        </main>
        {{>welcome}}
        <!-- footer -->
    </body>
</html>